<div class="cart-container">
    <h2>Your Cart</h2>
    <div *ngIf="cartItems.length > 0; else emptyCart">
      <div class="cart-item" *ngFor="let item of cartItems">
        <img [src]="item.image" alt="Product Image" class="cart-item-image" />
        <div class="cart-item-details">
          <h3>{{ item.name }}</h3>
          <p>Price: €{{ item.price }}</p>
          <button (click)="removeFromCart(item)" class="remove-button">Remove</button>
        </div>
      </div>
      <button (click)="clearCart()" class="clear-cart-button">Clear Cart</button>
    </div>
    <ng-template #emptyCart>
      <p>Your cart is empty.</p>
    </ng-template>
  </div>
  